/* .resumeImage {
    width: 100%;
    height: 200px;
} */

.resume-header, .resume-header__p, .resume-header__a {
  display: flex;
  justify-content: center;
}

.resume-main-container__div {
  padding-bottom: 50px;
}