.aboutContainer {
  padding: 2rem;
  background-color: #e5e7eb;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive columns */
  gap: 1.5rem; /* Space between cards */
  margin-top: 2rem;
}

.portfolioHeader {
  display: flex;
  justify-content: center;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.portfolioHeaderP {
  display: flex;
  justify-content: center;
  color: #333333;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 18px;
}