.about-cards {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.about-text-card,
.outer-image-card {
  margin: 0 15px; /* Create space between the two cards */
}

.about-image {
    max-height: 500px; 
    width: auto;
}

.inner-image-box {
    display: flex;
    justify-content: center; /* Center horizontally */
    max-height: 500px; /* Set a max height for the image box */
    overflow: hidden; /* Hide overflow to prevent large images from affecting layout */
}
/* img {
    position: relative;
} */
.about-p {
    color: #333333; /* Gray text */
}

.about-header {
    margin-bottom: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
    margin-top: 50px;
}