.sliding-text {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  /* Sliding from left for text */
  .animate-slide-left {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Sliding from bottom for image */
  .animate-slide-bottom {
    transform: translateY(0);
    opacity: 1;
  }
  
  .about-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  /* Stack cards vertically on smaller screens */
@media (max-width: 768px) {
    .about-cards {
      flex-direction: column; /* Stack cards vertically */
    }
  }
  
  
  .about-text-card,
  .outer-image-card {
    margin: 0 15px;
  }
  
  .about-image {
    max-height: 500px;
    max-width: 300px;
    min-width: 200px;
  }
  
  .inner-image-box {
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
  }
  
  .about-p {
    color: #333333;
  }
  
  .about-header {
    margin-bottom: 5vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
    margin-top: 50px;
  }
  
  /* Add specific keyframes for each direction */
  @keyframes slideInLeft {
    0% {
      transform: translateX(-200px); /* Start from the left */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%); /* Start from below */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-slide-left {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .animate-slide-bottom {
    animation: slideInBottom 1s ease-out forwards;
  }
  