/* Sliding text animation */
.sliding-text {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-slide-left {
  transform: translateX(0);
  opacity: 1;
}

.animate-slide-right {
  transform: translateX(0);
  opacity: 1;
}

.animate-slide-bottom {
  transform: translateY(0);
  opacity: 1;
}

.resume-main-container {
  padding-bottom: 50px;
  
  flex-direction: column;
  align-items: center;
}

.skills-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-button {
  border-radius: 10px;
  border: none;
  background-color: #8fc39a;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 9px;
  padding: 0px 6px;
}

.resume-button:hover {
  background-color: #94cfa3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}
.resume-header, .resume-header-text {
  margin: 3px 35px;
  text-align: center;
}

.resume-header {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 54px;
}

.resume-header-text {
  color: #333333;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 18px;
}

/* Responsive iframe styles */
.resume-iframe {
  width: 100%;
  border: none;
}
