/* .resumeImage {
    width: 100%;
    height: 200px;
} */

.resume-main-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-button {
  border-radius: 10px;
  border: none;
  background-color: #8fc39a;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 9px;
  padding: 0px 6px;
}

.resume-button:hover {
background-color: #94cfa3;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
transform: scale(1.05);
}

.resume-header {
  margin-bottom: 3px;
}

.resume-header-text {
  margin-bottom: 3px;
}

/* transition: all 0.2s ease-in-out;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.cta-button:hover {
background: linear-gradient(135deg, #0d0b6d, #26022d);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
transform: scale(1.05); */