.back-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #7cbd8c;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: background-color 200ms ease, transform 200ms ease;
  }
  
  .back-button:hover {
    background-color: #94cfa3;
    transform: translateY(-0.1rem);
  }
  
  .back-button:active {
    transform: translateY(0);
  }